# Python
__pycache__/
*.pyc
.venv/

# Data outputs
/data/
/data_*/
/data-test*/

# Results outputs
/results/

# Jupyter
.ipynb_checkpoints/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/

# Embedded repos
npm-leaderboard/


